numpy
scipy
Pillow
cython
matplotlib
scikit-image
keras==2.0.8
opencv-python==3.4.18.65
h5py==2.10.0
imgaug
IPython[all]
jupyter
grpcio==1.39.0
grpcio-tools==1.39.0
protobuf==3.19.6
Flask
waitress==2.0.0